<ul class="nav nav-tabs">
    <li class="nav-items">
      <a class="nav-link active" href="/krrs"
        style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP 1 <br>(Masuk)</a>

    </li>
    <li class="nav-items" style="margin-left: 5%;border-color: black;">
      <a class="nav-link" href="/krrs-pengisian"
        style="font-weight: 800; color: black;letter-spacing: 3pt; font-size: 8pt;">TAHAP 2
        <br>(Pengisian)</a>
      <div class="nav-bawah"></div>
    </li>
    <li class="nav-items" style="margin-left: 5%;">
      <a class="nav-link" href="/krrs-reguler"
        style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP 3 <br>(Selesai)</a>
    </li>
  </ul>

  <h2 style="text-align: center;color: #A01627; font-weight: 800;margin: 5%;">Maaf, Jadwal Kuliah Bentrok!
    </h3>

    <div class="form-krrs" style="margin-left: 5px; margin-top: 20px;">
      <div
        style="width: 100.1% ; height:15px;background-color:black; border-top-left-radius: 5px;border-top-right-radius: 5px;">
      </div>
      <div>
        <form>
          <table class="krrs" style="text-align:center;margin-top: 20px;margin-left: 10px;width:96%;">
            <tr style="border-bottom:2px solid black;">
              <th>Kode</th>
              <th>Matkul</th>
              <th>Kelas</th>
            </tr>
            <tr style="background-color:CCCCCC;border-bottom:1px solid black">
              <td>TK23015</td>
              <td>WEB PROGRAMMING</td>
              <td><span class="badge badge-pill"
                  style="background-color: 811EAF;font-size: 12pt;color: white;">A</span></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div style="float: left; padding: 10px; margin: 20px;">
      <h4 style="text-align: center; font-weight: 800;">dengan <br> >></h4>
    </div>

    <div class="form-krrs" style="margin-left: 5px; margin-top: 20px;">
      <div
        style="max-width: 100%; height:15px;background-color:black; border-top-left-radius: 5px;border-top-right-radius: 5px;">
      </div>
      <div>
        <form>
          <table class="krrs" style="text-align:center;margin-top: 20px;margin-left: 10px;width:96%;">
            <tr style="border-bottom:2px solid black;">
              <th>Kode</th>
              <th>Matkul</th>
              <th>Kelas</th>
            </tr>
            <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
              <td>TK23015</td>
              <td>WEB PROGRAMMING</td>
              <td><span class="badge badge-pill"
                  style="background-color: 811EAF;font-size: 12pt;color: white;">A</span></td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <div class="container-fluid" style="font-weight: bold; margin-bottom: 20px; margin-top: 5%;">
      <a href="/krrs-pengisian" class="btn" style="background-color: #A01627; color: white; width: 50%;height: 40px; 
          border-radius: 30px; margin-left: 25%; font-weight: bold;margin-top: 5%;">Kembali ke halaman
        pengisian</a>
    </div>

<%- contentFor('title') %>
KRRS Bentrok