<li class="nav-items">
    <a class="nav-link active" href="/krrs"
      style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP 1 <br>(Masuk)</a>

  </li>
  <li class="nav-items" style="margin-left: 5%;border-color: black;">
    <a class="nav-link" href="/krrs-pengisian"
      style="font-weight: 800; color: black;letter-spacing: 3pt; font-size: 8pt;">TAHAP 2
      <br>(Pengisian)</a>
    <div class="nav-bawah"></div>
  </li>
  <li class="nav-items" style="margin-left: 5%;">
    <a class="nav-link" href="/krrs-reguler"
      style="font-weight: 800; color: black; letter-spacing: 3pt; font-size: 8pt;">TAHAP 3 <br>(Selesai)</a>
  </li>
</ul>

<h2 style="text-align: center;color: #A01627; font-weight: 800;margin: 5%;">Maaf, Kelas Penuh!</h3>

  <div class="form-krrs" style="margin-left: 5px; margin-top: 20px;">
    <div
      style="width:100.1% ; height:10px; background-color:black; border-top-left-radius: 5px;border-top-right-radius: 5px;">
    </div>
    <div>
      <form>
        <table class="krrs" style="text-align:center;margin-top: 20px;margin-left: 10px;">
          <tr style="border-bottom:2px solid black;">
            <th>KODE</th>
            <th>MATA KULIAH</th>
            <th>SKS</th>
            <th>KELAS</th>
            <th>KETERANGAN</th>
          </tr>
          <tr style="background-color:CCCCCC;border-bottom: 0.5px solid black;">
            <td>TK23015</td>
            <td>WEB PROGRAMMING</td>
            <td><span class="badge badge-pill"
                style="background-color: 811EAF;font-size: 12pt;color: white;">8</span></td>
            <td><span class="badge badge-pill"
                style="background-color: #A01627;font-size: 12pt;color: white;">A</span></td>
            <td>Kelas A jumlah peserta 35</td>
          </tr>

        </table>
      </form>
    </div>
  </div>
  <div class="container-fluid" style="font-weight: bold; margin-bottom: 20px; margin-top: 5%;">
    <a href="/krrs-pengisian" class="btn" style="background-color: #A01627; color: white; width: 50%;height: 40px; 
        border-radius: 30px; margin-left: 25%; font-weight: bold;">Kembali ke halaman pengisian</a>
  </div>

<%- contentFor('title') %>
KRRS Penuh