<ul class="nav nav-tabs">
    <li class="nav-items">
      <a class="nav-link active" href="/lintar"
        style="font-weight:800; color:black;letter-spacing: 3pt; font-size: 8pt;">LINTAR MAHASISWA</a>
      <div class="nav-bawah"></div>
    </li>
  </ul>
  <div class="container-auto">
    <div
      style="border-radius: 20px;border: 1pt solid #000;margin-left: 320px;margin-right: 200px;margin-top: 180px;margin-bottom: 200px;padding-top: 20px; width: 45%; height: 35%;">
      <div>
        <h3 style="text-align: center;font-size: 18pt; font-weight: 800; padding: 20px; padding-top:30px;">
          Klik tombol di bawah untuk mengalihkan Anda menuju LINTAR MAHASISWA
        </h3>
        <form style="padding-top: 50px; padding-left: 7px;padding-bottom: -100px; padding-right: 7px;;">
        </form>
        <div style="margin-top:20px; margin-left:270px; margin-bottom: 20px;">
          <a href="https://lintar.untar.ac.id">
            <button class="btn" style="background-color:#A01627; color:white; font-size: 15pt; width:250px; font-weight: bold;
              border-radius: 30px; margin-left: -140px; margin-top: -40px;">Menuju LINTAR</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- contentFor('title') %>
  Lintar
