<ul class="nav nav-tabs">
    <li class="nav-items">
      <a class="nav-link active" href="/panduan"
        style="font-weight: 800; color:black;letter-spacing: 3pt; font-size: 8pt;">PANDUAN KRRS</a>
      <div class="nav-bawah"></div>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/panduanfk"
        style="font-weight: 800; color:black; letter-spacing: 3pt; font-size: 8pt;">PANDUAN KRRS FK</a>
    </li>
  </ul>
  <div class="container-auto"
    style="border: 1pt solid black;border-radius: 20px;margin-left: 320px; margin-right: 200px;margin-top: 180px;margin-bottom: 200px;padding-top: 20px; width: 45%; height: 35%;">
    <div>
      <h3 style="text-align: center;font-size: 18pt; font-weight: 800; padding: 20px;padding-top: 30px;">
        Klik tombol di bawah untuk mengalihkan Anda menuju PANDUAN KRRS
      </h3>

      <div style="margin-top:20px; margin-left:270px; margin-bottom: 20px;">
        <a href="images/KRS 2018 new.pdf">
          <button class="btn" style="background-color:#A01627; color:white; font-size: 15pt; width:250px; font-weight: bold;
              border-radius: 30px; margin-left: -140px; margin-top: 20px;">Panduan KRRS</button>
        </a>
      </div>

    </div>

  </div>

  <%- contentFor('title') %>
  Panduan