<ul class="nav nav-tabs">
    <li class="nav-items">
        <a class="nav-link active" href="#"
            style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">HOME</a>
        <div class="nav-bawah"></div>
    </li>
</ul>
<div class="flex-column" style="margin-top: 5%;">
    <a class="btn" href="/DataMatkul" role="button" style="border-color: gray;">
        <div class="card">
            <img src="images/ManajemenMerah.jpg" alt="" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Manajemen Data</h5>
            </div>
        </div>
    </a>
    <a class="btn" href="/krrsmasuk" role="button" style="border-color: gray;">
        <div class="card">
            <img src="images/krrs_merah.png" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">KRRS Masuk</h5>
            </div>
        </div>
    </a>
    <a class="btn" href="/pertanyaanmahasiswa" role="button" style="border-color: gray;">
        <div class="card">
            <img src="images/PertanyaanMerah.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Pertanyaan Mahasiswa</h5>
            </div>
        </div>
    </a>
</div>
<%- contentFor('title') %>
Home