<ul class="nav nav-tabs">
    <div style="font-weight: 900; margin-left: 10px;font-size: 20pt; margin-top: 6px; width:50%;">Edit Data
      Mahasiswa
  </ul>

  <div class="mb-3">
    <label for="Semester" class="form-label" style="font-size: 12pt;font-weight: 900;">Semester</label>
    <input type="number" class="form-control" id="Semester" style="margin-top:-9pt;"></div>
  <div class="mb-3">
    <label for="  TahunAjaran" class="form-label" style="font-size: 12pt;font-weight: 900;">Tahun Ajaran</label>
    <input type="TahunAjaran" class="form-control" id="TahunAjaran" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for="  Kelas" class="form-label" style="font-size: 12pt;font-weight: 900;">Kelas</label>
    <input type="Kelas" class="form-control" id="kelas" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for="  NIM" class="form-label" style="font-size: 12pt;font-weight: 900;">NIM</label>
    <input type="number" class="form-control" id="NIM" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for="  Nama" class="form-label" style="font-size: 12pt;font-weight: 900;">Nama</label>
    <input type="Nama" class="form-control" id="Nama" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for="  Password" class="form-label" style="font-size: 12pt;font-weight: 900;">Password</label>
    <input type="Password" class="form-control" id="Password" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for="  Fakultas" class="form-label" style="font-size: 12pt;font-weight: 900;">Fakultas</label>
    <input type="Fakultas" class="form-control" id="Fakultas" style="margin-top: -8pt;">
  </div>
  <div class="mb-3">
    <label for=" IPK" class="form-label" style="font-size: 12pt;font-weight: 900;">IPK</label>
    <input type="IPK" class="form-control" id="IPK" style="margin-top: -8pt;">
  </div>




  <div>
    <button type="button" class="btn btn-success"
      style="border-radius: 20pt; width: 70pt;margin-left: 38%;">Save</button>
    <button type="button" class="btn btn-danger" style="border-radius: 20pt; width: 70pt;">Batal</button>
    <a href="/DataMahasiswa" type="button" class="btn btn-primary"
      style="border-radius: 20pt; width: 70pt;">Tutup</a>
  </div>

<%- contentFor('title') %>
Data Mahasiswa Tambah