<ul class="nav nav-tabs" style="font-size: 12pt;">
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataMatkul"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">MATA KULIAH</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/JadwalMatkul"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">JADWAL KULIAH</a>
    </li>
    <li class="nav-items">
      <a class="nav-link active" href="/admin/DataDosen"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">DATA DOSEN</a>
      <div class="nav-bawah"></div>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataMahasiswa"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA MAHASISWA</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataKHS"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KHS</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataKRS"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KRS</a>
    </li>
  </ul>
  <div style="font-weight: 900; margin-left: 10px;font-size: 20pt; margin-top: 10px; width:50%;"> Edit Data Dosen
  </div>
</div>

<div class="mb-3">
  <label for="NIP" class="form-label" style="font-size: 12pt;font-weight: 900;">NIP</label>
  <input type="number" class="form-control" id="Kode" style="margin-top:-9pt;"></div>
<div class="mb-3">
  <label for="namadosen" class="form-label" style="font-size: 12pt;font-weight: 900;">Nama Dosen</label>
  <input type="namadosen" class="form-control" id="namadosen" style="margin-top:-9pt;"></div>
<div class="mb-3">
  <label for="Prodi" class="form-label" style="font-size: 12pt;font-weight: 900;"> Prodi</label>
  <input type="Prodi" class="form-control" id="Prodi" style="margin-top: -8pt;">
</div>
<div>
  <button type="button" class="btn btn-success"
    style="border-radius: 20pt; width: 70pt;margin-left: 38%;">Save</button>
  <button type="button" class="btn btn-danger" style="border-radius: 20pt; width: 70pt;">Batal</button>
  <a href="/admin/DataDosen" type="button" class="btn btn-primary"
    style="border-radius: 20pt; width: 70pt;">Tutup</a>
</div>

<%- contentFor('title') %>
Data Dosen Edit