<ul class="nav nav-tabs" style="font-size: 12pt;">
    <li class="nav-items">
      <a class="nav-link active" href="/admin/DataMatkul"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">MATA KULIAH</a>
      <div class="nav-bawah"></div>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataDosen"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt; color: black;">DATA DOSEN</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataMahasiswa"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA MAHASISWA</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataKHS"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KHS</a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/admin/DataKRS"
        style="font-weight: 800; letter-spacing: 3pt; font-size: 8pt;color:black;">DATA KRS</a>
    </li>
  </ul>
  <div style="font-weight: 900; margin-left: 10px;font-size: 20pt; margin-top: 10px; width:50%;"> Data Mata Kuliah
  </div>
</div>
<div class="form-matkuledit" style="margin-left: 5px; margin-top: 10px;">
  <div style="width:100.1% ; height:30px;background-color:black; border-top-left-radius: 10px;
          border-top-right-radius: 10px;"></div>
  <div>
    </form>
    <table style="text-align:center;margin:10px;">
      <tr style="border-bottom:1px solid black;letter-spacing: 3px;">
        <th scope="col" style="text-align: center;width:3%">NO</th>
        <th scope="col" style="text-align: center;width:20%">KODE</th>
        <th scope="col" style="text-align: center;width:20%">PRODI</th>
        <th scope="col" style="text-align: center;width:20%">MATA KULIAH</th>
        <th scope="col" style="text-align: center;width:8%">SKS</th>
      </tr>
      </thead>
      <tbody>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">1</th>
          <td><input type="Kode" style="border-radius: 5px;" id="Kode"></td>
          <td><input type="prodi" style="border-radius: 5px;" id="prodi"></td>
          <td><input type="matakuliah" style="border-radius: 5px;" id="matakuliah"></td>
          <td>
            <div class="badge"
              style="border-radius: 30px;margin-right:50%; width: 35%;height:40%;font-size:12pt;color: white;">
              <input type="sks" style="border-radius: 5px;" id="sks"></div>
          </td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">2</th>
          <td><input type="Kode" style="border-radius: 5px;" id="Kode"></td>
          <td><input type="prodi" style="border-radius: 5px;" id="prodi"></td>
          <td><input type="matakuliah" style="border-radius: 5px;" id="matakuliah"></td>
          <td>
            <div class="badge"
              style="border-radius: 30px;margin-right:50%; width: 35%;height:40%;font-size:12pt;color: white;">
              <input type="sks" style="border-radius: 5px;" id="sks"></div>
          </td>
        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black">
          <th scope="row">3</th>
          <td><input type="Kode" style="border-radius: 5px;" id="Kode"></td>
          <td><input type="prodi" style="border-radius: 5px;" id="prodi"></td>
          <td><input type="matakuliah" style="border-radius: 5px;" id="matakuliah"></td>
          <td>
            <div class="badge"
              style="border-radius: 30px;margin-right:50%; width: 35%;height:40%;font-size:12pt;color: white;">
              <input type="sks" style="border-radius: 5px;" id="sks"></div>
          </td>
        </tr>

      </tbody>
    </table>
    <div>
        <button type="submit" class="btn btn-success"
          style="border-radius: 20pt; width: 70pt;margin-left: 38%;">Save</button>
      <button type="button" class="btn btn-danger" style="border-radius: 20pt; width: 70pt;">Batal</button>
      <a href="/admin/DataMatkul" type="button" class="btn btn-primary" style="border-radius: 20pt; width: 70pt;">Tutup</a>
    </div>
    </form>
  </div>
</div>
<div class="form-matkulfix" style="margin-left: 5px; margin-top:60px;margin-bottom: 3%;">
  <div style="width:100.1% ; height:15px;background-color:black;border-top-left-radius: 10px;
          border-top-right-radius: 10px;"></div>
  <div>
    </form>
    <table style="text-align:center;margin:10px;">
      <tr style="border-bottom:1px solid black;letter-spacing: 3px;">
        <th scope="col" style="text-align: center;width:5%">NO</th>
        <th scope="col" style="text-align: center;width:5%">KODE</th>
        <th scope="col" style="text-align: center;width:8%">PRODI</th>
        <th scope="col" style="text-align: center;width:15%">MATA KULIAH</th>
        <th scope="col" style="text-align: center;width:5%">SKS</th>
        <th scope="col" style="text-align: center;width:5%">SEMESTER</th>
      </tr>
      </thead>
      <tbody>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">1</th>
          <td>TK23015</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>WEB PROGRAMMING</td>
          <td>
            <div class="badge badge-danger"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">8
            </div>
          </td>
          <td>GANJIL</td>

        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">2</th>
          <td>TK23016</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>COMPUTER SYSTEMS</td>
          <td>
            <div class="badge badge-primary"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">6
            </div>
          </td>
          <td>GANJIL</td>

        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">3</th>
          <td>TK23017</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>INTRODUCTION TO OPERATING SYSTEMS</td>
          <td>
            <div class="badge badge-success"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">4
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">4</th>
          <td>TK33010</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>DISTRIBUTED SYSTEMS</td>
          <td>
            <div class="badge badge-success"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">4
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">5</th>
          <td>TK13019</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>COMPUTATION I</td>
          <td>
            <div class="badge badge-success"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">4
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">6</th>
          <td>TK33010</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>INTRODUCTION TO ALGORITHMS</td>
          <td>
            <div class="badge badge-danger"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">8
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">7</th>
          <td>TK13021</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>DATABASE SYSTEMS</td>
          <td>
            <div class="badge badge-success"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">4
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">8</th>
          <td>TK33010</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>IT TRENDS</td>
          <td>
            <div class="badge badge-success"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">4
            </div>
          </td>
          <td>GANJIL</td>
        </tr>
        <tr style="background-color:CCCCCC;border-bottom:1px solid black;">
          <th scope="row">9</th>
          <td>TK13023</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>COMPUTATION II</td>
          <td>
            <div class="badge badge-danger"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">8
            </div>
          </td>
          <td>GENAP</td>
        </tr>
        <tr style="border-bottom:1px solid black;">
          <th scope="row">10</th>
          <td>TK13024</td>
          <td>TEKNIK INFORMATIKA</td>
          <td>COMPUTATION II</td>
          <td>
            <div class="badge badge-primary"
              style="border-radius: 30px; width: 40%;height:35px;font-size:12pt;padding-top: 8px;color: white;">6
            </div>
          </td>
          <td>GENAP</td>
        </tr>
      </tbody>
    </table>
    </nav>
    </form>
  </div>
</div>

<%- contentFor('title') %>
Matkul Tambah